<h2 class="text-center">
  {{ name }}
</h2>
<ul>
  <li *ngIf="birth_year"><span>Birth year: </span> {{ birth_year }}</li>
  <li *ngIf="eye_color"><span>Eye color: </span> {{ eye_color }}</li>
  <li *ngIf="gender"><span>Gender: </span> {{ gender }}</li>
  <li *ngIf="hair_color"><span>Hair color: </span> {{ hair_color }}</li>
  <li *ngIf="height"><span>Height: </span> {{ height }}</li>
  <li *ngIf="homeworld"><span>Homeworld: </span> {{ homeworld }}</li>
  <li *ngIf="mass"><span>Mass: </span> {{ mass }}</li>
  <li *ngIf="skin_color"><span>Skin color: </span> {{ skin_color }}</li>
  <li *ngIf="created"><span>Created: </span> {{ created }}</li>
  <li *ngIf="edited"><span>Edited: </span> {{ edited }}</li>
</ul>
