<div class="p-10p d-flex flex-flow-column gap-1-em">
  <ng-container *ngIf="onePlanet.planet$ | async as planet">
    <app-big-planet-card
      [name]="planet.name"
      [climate]="planet.climate"
      [created]="planet.created"
      [diameter]="planet.diameter"
      [edited]="planet.edited"
      [gravity]="planet.gravity"
      [orbital_period]="planet.orbital_period"
      [population]="planet.population"
      [rotation_period]="planet.rotation_period"
      [surface_water]="planet.surface_water"
      [terrain]="planet.terrain"
    ></app-big-planet-card>
  </ng-container>

  <ng-container [formGroup]="filterForm">
    <app-custom-select
      [items]="onePlanetFilterItems"
      [isMultiple]="false"
      [isRequired]="false"
      formControlName="gender"
      placeholder="Select a gender"
    ></app-custom-select>
  </ng-container>
  <h1 class="text-center mb-1-em">Residents list</h1>
  <ng-container *ngIf="items$ | async as residents">
    <div class="d-grid two-grid-columns gap-1-em" *ngIf="residents.length">
      <div *ngFor="let resident of residents; let i = index">
        <app-resident-card
          [birth_year]="resident.birth_year"
          [eye_color]="resident.eye_color"
          [gender]="resident.gender"
          [height]="resident.height"
          [homeworld]="resident.homeworld"
          [mass]="resident.mass"
          [name]="resident.name"
          [skin_color]="resident.skin_color"
          [created]="resident.created"
          [edited]="resident.edited"
        ></app-resident-card>
      </div>
    </div>
  </ng-container>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
