<div class="select">
  <div class="select__value" (click)="!readonly && onToggleDropdown()">
    {{ indexesToString(formControl.value) || placeholder }}
  </div>

  <div class="select__dropdown" *ngIf="showDropdown">
    <ul class="select__options">
      <li
        *ngFor="let item of items"
        class="select__option"
        (click)="onToggleOption(item.key)"
        [ngClass]="{
          'bg-cbcbcb': !isMultiple && formControl.value === item.key
        }"
      >
        {{ item.value }}
      </li>
      <li class="select__option" (click)="clear()">Clear</li>
    </ul>
  </div>
</div>
